.block {
    height: 1142px;
    flex-grow: 0;
    margin: -830px -90px 0 210px;
    padding: 39px 0 23px 2px;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.title {
    width: 600px;
    height: 30px;
    flex-grow: 0;
    margin: 0 120px 3px 55px;
    // font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.line {
    width: 48px;
    height: 3px;
    flex-grow: 0;
    margin: 3px 158px 46px 55px;
    background-color: #ee1414;
}

.name {
    width: 320px;
    height: 24px;
    flex-grow: 0;
    margin: 0 0 3px;
    // font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #626060;
}

.rectangle-62 {
    width: 152px;
    height: 46px;
    flex-grow: 0;
    margin: -85px 89px 0 765px;
    padding: 3px 0 0 32px;
    border-radius: 4px;
    background-color: #ee1414;
}

.back {
    width: 41px;
    height: 24px;
    flex-grow: 0;
    margin: 0 8px 0 20px;
    // font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.backimage {
    width: 23px;
    height: 23px;
    flex-grow: 0;
    margin: -44px 0 0 -60px;
    object-fit: contain;
}

.rectangle-6 {
    width: 260px;
    height: 47px;
    flex-grow: 0;
    margin-left: 55px;
    padding: 12px 61.6px 11px 17px;
    border-radius: 2px;
    border: solid 1px #626060;
    background-color: #fff;
}

.line-24 {
    width: 890px;
    height: 1px;
    margin: 20px 0px 0 50px;
    background-color: #000;
}

.careimage {
    width: 141.4px;
    height: 101px;
    flex-grow: 0;
    margin: 15px 0 0 65px;
    object-fit: contain;
}

.carename {
    width: 299.7px;
    height: 30px;
    flex-grow: 0;
    margin: 15px 70.7px 7px 23.6px;
    // font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ee1414;
}

.careaddress {
    width: 285.1px;
    height: 59px;
    flex-grow: 0;
    margin: -70px 85.3px 24px 230px;
    // font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #a3a3a3;
}

.map {
    width: 11.8px;
    height: 14px;
    flex-grow: 0;
    margin: -100px 0 0 -40px;
    object-fit: contain;
}

.home {
    width: 14.6px;
    height: 14.7px;
    flex-grow: 0;
    margin: -80px 0 0 558px;
    object-fit: contain;
}

.maptext {
    width: 114.5px;
    height: 21px;
    flex-grow: 0;
    margin: -96px 183px 9px 15px;
    // font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.hometext {
    width: 246.9px;
    height: 36px;
    flex-grow: 0;
    margin: -80px 49.4px 32px 12.9px;
    // font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2d81af;
}

.cost {
    width: 121.2px;
    height: 21px;
    flex-grow: 0;
    margin: -110px 0 0 835px;
    // font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.cost .date {
    color: #a3a3a3;
}

.rectangle-600 {
    width: 95.4px;
    height: 28px;
    flex-grow: 0;
    margin: -75px 0 0 835px;
    padding: 5px 22.4px 2px 25.8px;
    border-radius: 4px;
    background-color: #ee1414;
}

.book {
    width: 47.1px;
    height: 21px;
    flex-grow: 0;
    margin: -20px 0 0 -9px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.line-222 {
    width: 890px;
    height: 1px;
    flex-grow: 0;
    margin: 0 0 0 62px;
    background-color: #afafaf;
}


.rectangle-58 {
    width: 1353px;
    height: 56px;
    flex-grow: 0;
    margin: 30px -130px 0px 184px;
    padding: 17px 23px 18px 56px;
    background-color: #ee1414;
  }
  
  .copyright {
    width: 322px;
    height: 21px;
    flex-grow: 0;
    margin: 0 483px 0 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  
  .conditions {
    width: 139px;
    height: 21px;
    flex-grow: 0;
    margin: -20px 49px 0 650px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  
  .privacypolicy {
    width: 98px;
    height: 21px;
    flex-grow: 0;
    margin:-22px 0 0 830px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

