<app-dashboardheader></app-dashboardheader>
<app-slotsidemenu></app-slotsidemenu>
<div class="container">
    <div class="block">
        <div class="row">
            <div class="title">Care Destinations by Selected Locations</div>
            <div class="line"></div>
            <a href="javascript:void(0)" routerLink="/bookaslot">
                <div class="rectangle-62">
                    <button class="btn back">
                        BACK
                        <img src="/assets/images/backicon.svg" alt="" class="backimage">
                    </button>
                 </div>
                </a>
    </div>
    <div class="">
        <input type="text" class="rectangle-6 " placeholder="Search">
    </div>
    <div class="line-24"></div>
    <div class="row">
        <div class="row col-xl-12">
            <div class="careimage">
                <img src="/assets/images/care1.jpg" alt="">
            </div>
            <div class="carename">
                HarborChase of Dr. Phillips
            </div>
            <div class="careaddress"> 7233 Della Dr <br>
                Orlando, FL 32819</div>
            <div class="map">
                <img src="/assets/images/map.svg" alt="">
            </div>
            <div class="maptext">1.8 miles away</div>
            <div class="home">
                <img src="/assets/images/home.svg" alt="">
            </div>
            <div class="hometext">Independent Living, Assisted Living,<br> Long-Term Care</div>
            <span class="cost">
                $100- 120
                <span class="date">/ Day</span>
            </span>
            <div class="rectangle-600">
                <button class="btn book">BOOK</button>
            </div>
        </div>
        <div class="line-222"></div>
    </div>
    <div class="row">
        <div class="row col-xl-12">
            <div class="careimage">
                <img src="/assets/images/care1.jpg" alt="">
            </div>
            <div class="carename">
                Solaris Healthcare Windermere
            </div>
            <div class="careaddress"> 7233 Della Dr <br>
                Orlando, FL 32819</div>
            <div class="map">
                <img src="/assets/images/map.svg" alt="">
            </div>
            <div class="maptext">1.8 miles away</div>
            <div class="home">
                <img src="/assets/images/home.svg" alt="">
            </div>
            <div class="hometext">Independent Living, Assisted Living,<br> Long-Term Care</div>
            <span class="cost">
                $90- 100
                <span class="date">/ Day</span>
            </span>
            <div class="rectangle-600">
                <button class="btn book">BOOK</button>
            </div>
        </div>
        <div class="line-222"></div>
    </div>
    <div class="row">
        <div class="row col-xl-12">
            <div class="careimage">
                <img src="/assets/images/care1.jpg" alt="">
            </div>
            <div class="carename">
                HarborChase of Dr. Phillips
            </div>
            <div class="careaddress"> 7233 Della Dr <br>
                Orlando, FL 32819</div>
            <div class="map">
                <img src="/assets/images/map.svg" alt="">
            </div>
            <div class="maptext">1.8 miles away</div>
            <div class="home">
                <img src="/assets/images/home.svg" alt="">
            </div>
            <div class="hometext">Independent Living, Assisted Living,<br> Long-Term Care</div>
            <span class="cost">
                $100- 120
                <span class="date">/ Day</span>
            </span>
            <div class="rectangle-600">
                <button class="btn book">BOOK</button>
            </div>
        </div>
        <div class="line-222"></div>
    </div>
    <div class="row">
        <div class="row col-xl-12">
            <div class="careimage">
                <img src="/assets/images/care2.jpg" alt="">
            </div>
            <div class="carename">
                The Palms Nursing
            </div>
            <div class="careaddress"> 7233 Della Dr <br>
                Orlando, FL 32819</div>
            <div class="map">
                <img src="/assets/images/map.svg" alt="">
            </div>
            <div class="maptext">1.8 miles away</div>
            <div class="home">
                <img src="/assets/images/home.svg" alt="">
            </div>
            <div class="hometext">Independent Living, Assisted Living,<br> Long-Term Care</div>
            <span class="cost">
                $100- 120
                <span class="date">/ Day</span>
            </span>
            <div class="rectangle-600">
                <button class="btn book">BOOK</button>
            </div>
        </div>
        <div class="line-222"></div>
    </div>
    <div class="row">
        <div class="row col-xl-12">
            <div class="careimage">
                <img src="/assets/images/care1.jpg" alt="">
            </div>
            <div class="carename">
                HarborChase of Dr. Phillips
            </div>
            <div class="careaddress"> 7233 Della Dr <br>
                Orlando, FL 32819</div>
            <div class="map">
                <img src="/assets/images/map.svg" alt="">
            </div>
            <div class="maptext">1.8 miles away</div>
            <div class="home">
                <img src="/assets/images/home.svg" alt="">
            </div>
            <div class="hometext">Independent Living, Assisted Living,<br> Long-Term Care</div>
            <span class="cost">
                $100- 120
                <span class="date">/ Day</span>
            </span>
            <div class="rectangle-600">
                <button class="btn book">BOOK</button>
            </div>
        </div>
        <div class="line-222"></div>
    </div>
    <div class="row">
        <div class="row col-xl-12">
            <div class="careimage">
                <img src="/assets/images/care1.jpg" alt="">
            </div>
            <div class="carename">
                The Palms Nursing
            </div>
            <div class="careaddress"> 7233 Della Dr <br>
                Orlando, FL 32819</div>
            <div class="map">
                <img src="/assets/images/map.svg" alt="">
            </div>
            <div class="maptext">1.8 miles away</div>
            <div class="home">
                <img src="/assets/images/home.svg" alt="">
            </div>
            <div class="hometext">Independent Living, Assisted Living,<br> Long-Term Care</div>
            <span class="cost">
                $110- 120
                <span class="date">/ Day</span>
            </span>
            <div class="rectangle-600">
                <button class="btn book">BOOK</button>
            </div>
        </div>
        <div class="line-222"></div>
    </div>
</div>
</div>


<!--footer starts-->
<section>
    <div class="container">
        <div class="row">
            <div class="row col-xl-12">
                <div class="rectangle-58">
                    <div class="copyright">
                        copyright © 2022 lyvwise. All Rights Reserved.
                    </div>
                    <div class="conditions">
                        Terms & Conditions
                    </div>
                    <div class="privacypolicy">
                        Privacy policy
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>