<app-dashboardheader></app-dashboardheader>
<app-slotsidemenu></app-slotsidemenu>

<div class="container">
    <div class="block">
        <div class="title">Book An Appointment
        </div>
        <div class="line"></div>
        <form>
            <div class="form-row mt-3">
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label class="name" for="patientName">Patient Name</label>
                        <input type="text" class="form-control" formControlName="patientName" value="JOHN DOE"
                            placeholder="Enter Patient Name" />
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="gender" for="Gender">Gender</label>
                        <input type="text" class="form-control" formControlName="Gender" value="Male"
                            placeholder="select" />
                    </div>
                    <div class="form-group col-sm-2">
                        <label class="age" for="Age">Age</label>
                        <input type="text" class="form-control" formControlName="Age" value="43" placeholder="00" />
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="mobile" for="Mobile">Mobile Number</label>
                        <input type="text" class="form-control" formControlName="Mobile" value="+01 9999999999"
                            placeholder="0000000000" />
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="phone" for="Phone">Emergency Contact Number</label>
                        <input type="text" class="form-control" formControlName="Phone" value="+01 9999999999"
                            placeholder="0000000000" />
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="email" for="Email">Primary e-mail Address</label>
                        <input type="text" class="form-control" formControlName="Email" value="john_doe@microsoft.com"
                            placeholder="Enter Email Address" />
                    </div>
                    <div class="form-group col-sm-10">
                        <label class="address" for="Address">Address</label>
                        <input type="text" class="form-control" formControlName="Address"
                            value="C/O   Marcia lampman, 50 ParkAvenue, #206, Florida,32014"
                            placeholder="Enter Address" />
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="supportperson" for="supportPerson ">Name of support person </label>
                        <input type="text" class="form-control" formControlName="supportPerson" value="Michel Pit"
                            placeholder="Enter Support Person" />
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="location" for="Location ">Preffered Location</label>
                        <input type="text" class="form-control" formControlName="Location" value="Florida  - 32014"
                            placeholder="Enter Location" />
                    </div>
                </div>
            </div>
        </form>
        <section>
            <div class="faciliationneeded">Faciliation Needed</div>
            <div class="line1"></div>
            <form>
                <div class="form-row details mt-3">
                    <div class="row">
                        <div class="row form-group col-sm-3">
                            <input type="checkbox" class="checkbox" placeholder=" _">
                            <div class="faciliated">
                                <label class="">
                                    Skilled Nursing
                                </label>
                            </div>
                        </div>
                        <div class="row form-group col-sm-3">
                            <input type="checkbox" class="checkbox" placeholder=" _">
                            <div class="faciliated">
                                <label class="">
                                    Physical Therapy
                                </label>
                            </div>
                        </div>
                        <div class="row form-group col-sm-3">
                            <input type="checkbox" class="checkbox" placeholder=" _">
                            <div class="faciliated">
                                <label class="">
                                    Speech Therapy
                                </label>
                            </div>
                        </div>
                        <div class="row form-group col-sm-3">
                            <input type="checkbox" class="checkbox" placeholder=" _">
                            <div class="faciliated">
                                <label class="">
                                    Physical Therapy
                                </label>
                            </div>
                        </div>
                        <div class="row form-group col-sm-3">
                            <input type="checkbox" class="checkbox" placeholder=" _">
                            <div class="faciliated">
                                <label class="">
                                    Appointments
                                </label>
                            </div>
                        </div>
                        <div class="row form-group col-sm-3">
                            <input type="checkbox" class="checkbox" placeholder=" _">
                            <div class="faciliated">
                                <label class="">
                                    Others
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section>
            <div class="faciliationneeded">Assesments</div>
            <div class="line1"></div>
            <div class="medicalconditions">
                Medical Conditions :
            </div>
            <form>
                <div class="form-row details mt-3">
                    <div class="row">
                        <div class="row form-group col-sm-3">
                            <input type="checkbox" class="checkbox" placeholder=" _">
                            <div class="faciliated">
                                <label class="">
                                    Asthama
                                </label>
                            </div>
                        </div>
                        <div class="row form-group col-sm-3">
                            <input type="checkbox" class="checkbox" placeholder=" _">
                            <div class="faciliated">
                                <label class="">
                                    Cancer
                                </label>
                            </div>
                        </div>
                        <div class="row form-group col-sm-3">
                            <input type="checkbox" class="checkbox" placeholder=" _">
                            <div class="faciliated">
                                <label class="">
                                    Diabetes
                                </label>
                            </div>
                        </div>
                        <div class="row form-group col-sm-3">
                            <input type="checkbox" class="checkbox" placeholder=" _">
                            <div class="faciliated">
                                <label class="">
                                    Chronic Conditions
                                </label>
                            </div>
                        </div>
                        <div class="row form-group col-sm-3">
                            <input type="checkbox" class="checkbox" placeholder=" _">
                            <div class="faciliated">
                                <label class="">
                                    Other -001
                                </label>
                            </div>
                        </div>
                        <div class="row form-group col-sm-3">
                            <input type="checkbox" class="checkbox" placeholder=" _">
                            <div class="faciliated">
                                <label class="">
                                    Other -002
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="medicalconditions">
                Care Given :
            </div>
            <form>
                <div class="form-row details mt-3">
                    <div class="row">
                        <div class="row form-group col-sm-3">
                            <input type="checkbox" class="checkbox" placeholder=" _">
                            <div class="faciliated">
                                <label class="">
                                    Other -001
                                </label>
                            </div>
                        </div>
                        <div class="row form-group col-sm-3">
                            <input type="checkbox" class="checkbox" placeholder=" _">
                            <div class="faciliated">
                                <label class="">
                                    Other -002
                                </label>
                            </div>
                        </div>
                        <div class="row form-group col-sm-3">
                            <input type="checkbox" class="checkbox" placeholder=" _">
                            <div class="faciliated">
                                <label class="">
                                    Loremipsum lorem
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="medicalconditions">
                Transportation:
            </div>
            <form>
                <div class="form-row details mt-3">
                    <div class="row">
                        <div class="row form-group col-sm-3">
                            <input type="checkbox" class="checkbox" placeholder=" _">
                            <div class="faciliated">
                                <label class="">
                                    Option-1
                                </label>
                            </div>
                        </div>
                        <div class="row form-group col-sm-3">
                            <input type="checkbox" class="checkbox" placeholder=" _">
                            <div class="faciliated">
                                <label class="">
                                    Option-2
                                </label>
                            </div>
                        </div>
                        <div class="row form-group col-sm-3">
                            <input type="checkbox" class="checkbox" placeholder=" _">
                            <div class="faciliated">
                                <label class="">
                                    Option-3
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <div class="line-22"></div>
        <div class="rectangle-61">
            <button class="btn reset">
                RESET
            </button>
        </div>
        <a href="javascript:void(0)" routerLink="/caredestinations">
            <div class="rectangle-62">
                <button class="btn next">
                    NEXT
                    <img src="/assets/images/nexticon.svg" alt="" class="nextimage">
                </button>
            </div>
        </a>
    </div>
</div>

<!--footer starts-->
<section>
    <div class="container">
        <div class="row">
            <div class="row col-xl-12">
                <div class="rectangle-58">
                    <div class="copyright">
                        copyright © 2022 lyvwise. All Rights Reserved.
                    </div>
                    <div class="conditions">
                        Terms & Conditions
                    </div>
                    <div class="privacypolicy">
                        Privacy policy
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>