.block {
    height: 1142px;
    flex-grow: 0;
    margin: -830px -90px 0 210px;
    padding: 39px 0 23px 2px;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.title {
    width: 220px;
    height: 30px;
    flex-grow: 0;
    margin: 0 120px 3px 55px;
    // font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.line {
    width: 48px;
    height: 3px;
    flex-grow: 0;
    margin: 3px 158px 46px 55px;
    background-color: #ee1414;
}

.name {
    width: 320px;
    height: 24px;
    flex-grow: 0;
    margin: 0 0 3px;
    // font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #626060;
}

.form-row {
    margin-left: 50px;
}

.form-control {
    font-weight: 600;
}

.faciliationneeded {
    width: 150px;
    height: 24px;
    flex-grow: 0;
    margin: 20px 0 0 50px;
    // font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ee1414;
}

.line1 {
    width: 890px;
    height: 1px;
    flex-grow: 0;
    margin: 6px 0 0 50px;
    background-color: #afafaf;
}

.rectangle-58 {
    width: 1353px;
    height: 56px;
    flex-grow: 0;
    margin: 30px -130px 0px 184px;
    padding: 17px 23px 18px 56px;
    background-color: #ee1414;
  }
  
  .copyright {
    width: 322px;
    height: 21px;
    flex-grow: 0;
    margin: 0 483px 0 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  
  .conditions {
    width: 139px;
    height: 21px;
    flex-grow: 0;
    margin: -20px 49px 0 650px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  
  .privacypolicy {
    width: 98px;
    height: 21px;
    flex-grow: 0;
    margin:-22px 0 0 830px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .checkbox {
    width: 22px;
    height: 22px;
    flex-grow: 0;
    margin: 1px 8px 1px 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px #afafaf;
    background-color: #fff;
  }

  .faciliated {
    width: 300px;
    height: 24px;
    flex-grow: 0;
    margin: -24px -30px 0 40px;
    // font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #626060;
  }

  .details {
      margin-left: 65px;
  }

  .medicalconditions {
    width: 143px;
    height: 21px;
    flex-grow: 0;
    margin: 13px 63px 22px 55px;
    // font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .line-22 {
    // width: 1113px;
    height: 1px;
    flex-grow: 0;
    margin: 53px 0 25px;
    background-color: #000;
  }
  .rectangle-61 {
    width: 139px;
    height: 46px;
    flex-grow: 0;
    margin: 25px 30px 0 600px;
    padding: 3px 0 0 32px;
    border-radius: 4px;
    border: solid 1px #ee1414;
    background-color: #fff;
  }

  .reset {
    width: 47px;
    height: 24px;
    flex-grow: 0;
    // font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ee1414;
  }
  .rectangle-62 {
    width: 152px;
    height: 46px;
    flex-grow: 0;
    margin: -46px 89px 0 765px;
    padding: 3px 0 0 32px;
    border-radius: 4px;
    background-color: #ee1414;
  }
  .next {
    width: 41px;
    height: 24px;
    flex-grow: 0;
    margin: 0 8px 0 0;
    // font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
  .nextimage{
    width: 23px;
    height: 23px;
    flex-grow: 0;
    margin: -44px 0 0 50px;
    object-fit: contain;
  }