<app-dashboardheader></app-dashboardheader>
<app-sidemenu></app-sidemenu>

<section id="counts" class="counts">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <span class="number">
            2546
          </span>
          <div class="tup">
            <img src="\assets\images\tup.svg" alt="" />
          </div>
          <span class="patients">
            Total Users/Patients
          </span>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
        <div class="count-box">
          <span class="number">
            587
          </span>
          <div class="tup">
            <img src="\assets\images\au.svg" alt="" />
          </div>
          <span class="patients">
            Active Users
          </span>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <span class="number">
            28
          </span>
          <div class="tup">
            <img src="\assets\images\tcd.svg" alt="" />
          </div>
          <span class="patients">
            Total Care Destintions
          </span>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <span class="number">
            587
          </span>
          <div class="tup">
            <img src="\assets\images\as.svg" alt="" />
          </div>
          <span class="patients">
            Availble Slots
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- metrics count end-->

<section class="">
  <div class="container">
    <div class="row">
      <div class="col-xl-3">
        <div class="slot">
          <span class="number">
            045
          </span>
          <span class="slottext">Slots Availble - Next week</span>
          <div class="line-17"></div>
          <div class="bookimage">
            <img src="\assets\images\bookslot.jpg" alt="" />
          </div>
          <a href="#" routerLink="/bookaslot"
          >
          <div class="rectangle-52">
            <div class="bag">
              <img src="\assets\images\bag.svg" alt="" />
            </div>
            <div class="line-18"></div>
            <div class="book-a-slot">
              Book a Slot
            </div>
          </div>
          </a>
        </div>
      </div>
      <div class="col-xl-9">
        <div class="patientgraph">
          <span class="outpatientstext">
            Outpatients vs Inpatients
          </span>
          <div class="ellipse-19">
            <div class="inpatients1">
              inpatients
            </div>
          </div>
          <div class="ellipse-20">
            <div class="outpatients1">
              Outpatients
            </div>
          </div>
          <div class="last-6-months">
            Last 6 Months
          </div>
          <div class="chart">
            <img src="\assets\images\chart.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- graph session end-->

<section>
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="rectangle-45">
          <div class="caredestinations">
            Patiens by care Destinations
          </div>
          <div class="zoom">
            <img src="\assets\images\zoom.svg" alt="" />
          </div>
          <div class="destination-name">
            Destination Name
          </div>
          <div class="inpatients">
            Inpatients
          </div>
          <div class="outpatients">
            Outpatients
          </div>
          <div class="list">
            KIKA Care
            Jamesoncareteks
            Marryhempast
            Danyol jsonroads house
            ournest center
          </div>
          <div class="numbers1">
            254
            352
            246
            1254
            098
          </div>
          <div class="numbers2">
            201
            324
            185
            295
            21
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="rectangle-45">
          <div class="caredestinations">
            Recent Messages
          </div>
          <div class="profiles">
            <img src="\assets\images\1.jpg" alt="" />
            <div class="profilename">
              John doe
            </div>
            <div class="date">
              02/02/2022
            </div>
            <div class="message">
              asdfljh dlfjhsjhgj khasjlfh gkjashf kjghasfj khgjkasfhgjk
            </div>
          </div>
          <div class="profiles">
            <img src="\assets\images\2.jpg" alt="" />
            <div class="profilename">
              Harrison
            </div>
            <div class="date">
              02/02/2022
            </div>
            <div class="message">
              sai addagarla sai addagarla sai addagarla sai ganesh addagarla sai ganesh addagarla
            </div>
          </div>
          <div class="profiles">
            <img src="\assets\images\3.jpg" alt="" />
            <div class="profilename">
              Lind Danial
            </div>
            <div class="date">
              02/02/2022
            </div>
            <div class="message">
              sai addagarla sai addagarla sai addagarla sai ganesh addagarla sai ganesh addagarla
            </div>
          </div>
          <div class="profiles">
            <img src="\assets\images\4.jpg" alt="" />
            <div class="profilename">
              Harrison
            </div>
            <div class="date">
              02/02/2022
            </div>
            <div class="message">
              sai addagarla sai addagarla sai addagarla sai ganesh addagarla sai ganesh addagarla
            </div>
          </div>
          <div class="profiles">
            <img src="\assets\images\5.jpg" alt="" />
            <div class="profilename">
              David Warner
            </div>
            <div class="date">
              02/02/2022
            </div>
            <div class="message">
              sai addagarla sai addagarla sai addagarla sai ganesh addagarla sai ganesh addagarla
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--section end-->

<section>
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="rectangle-46">
          <div class="caredestinations">
            Patients Satisfaction
          </div>
          <div class="circlechart">
            <img src="\assets\images\circlechart.svg" alt="" />
          </div>
          <div class="circlenum">
            <img src="\assets\images\circlenum.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="rectangle-46">
          <div class="caredestinations">
            Avg duration by care destinations
          </div>
          <div class="avg">
            <img src="\assets\images\avg.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--end-->
<section>
  <div class="container">
    <div class="row">
      <div class="row col-xl-12">
        <div class="rectangle-58">
          <div class="copyright">
            copyright © 2022 lyvwise. All Rights Reserved.
          </div>
          <div class="conditions">
            Terms & Conditions
          </div>
          <div class="privacypolicy">
            Privacy policy
          </div>
        </div>
      </div>
    </div>
  </div>
</section>