<app-header></app-header>
<section class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="row col-xl-12">
        <div class="col-xl-7">
          <div class="dcplanner-image">
            <img src="assets/images/dcplaner.jpg" alt="" />
          </div>
        </div>
        <div class="row col-xl-5">
          <div class="rectangle-29">
            <div class="txt">
              Meningen med at bruge Lorem Ipsum er, at teksten indeholder mere
              eller mindre almindelig tekstopbygning
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--top image session end-->
<section class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="row col-xl-12">
        <div class="dischargeplanner">
          Discharge Planner
        </div>
      </div>
    </div>
  </div>
</section>
<!-- middle session end-->
<section class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="row col-xl-12">
        <div class="col-xl-6">
          <div class="rectangle-3">
            <img src="assets/images/loginside.jpg" alt="" />
          </div>
          <div class="text">
            <p>
              Det er en kendsgerning, at man bliver distraheret af læsbart
              indhold på en side, når man betragter dens layout. Meningen med at
              bruge Lorem Ipsum er, at teksten indeholder mere eller mindre
              almindelig tekstopbygning i modsætning til "Tekst her - og mere
              tekst her", mens det samtidigt ligner almindelig tekst.<br />
            </p>

            <p>
              Mange layoutprogrammer og webdesignere bruger Lorem Ipsum som
              fyldtekst. En søgning på Lorem Ipsum afslører mange websider, som
              stadig er på udviklingsstadiet. Der har været et utal af
              variationer, som er opstået enten på grund af fejl og andre gange
              med vilje (som blandt andet et resultat af humor).
            </p>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="rectangle-4">
            <div class="container">
              <div class="row">
                <div class="row col-xl-12">
                  <div class="col-xl-6">
                    <div class="login">
                      LOGIN
                    </div>
                    <div class="line-1"></div>
                    <div class="login">
                      <form [formGroup]="newform" (submit)="createNewTask()">
                        <div class="form-group">
                          <div class="uname"><b>User Name</b></div>
                          <input type="email" class="form-control user-name" id="email" placeholder="Enter User Name"
                            formControlName="email" required />
                        </div>
                        <div class="form-group">
                          <div class="uname"><b>Password</b></div>
                          <input type="password" class="form-control password" id="password"
                            placeholder="Enter Password" formControlName="password" required />
                        </div>

                        <div class="form-footer">
                          <a href="#" routerLink="/dashboard">
                            <button type="submit" class="btn login-btn">
                              LOGIN
                            </button>
                          </a>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="registration">
                      REGISTRATION
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--end section-->
<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <img class="image footer-image" src="/assets/images/footer.png" alt="" />
      </div>
    </div>
  </div>
</section>