<app-header></app-header>
<section class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="row col-xl-12">
        <div class="col-xl-7">
          <img class="loginimage" src="assets/images/logintopleft.jpg" alt="" />
        </div>
        <div class="row col-xl-5">
          <div class="rectangle-29">
            <div class="txt">
              A transparent and unbiased <br />
              solution for families
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- login image part end-->
<section class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="row col-xl-12">
        <div class="signin">
          Sign in
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row col-xl-12">
        <div class="looking">
          What are you looking for?
        </div>
      </div>
    </div>
  </div>
</section>
<!--sigin section end-->
<section class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="row col-xl-12 signin-option">
        <div class="col-xl-6">
          <a href="javascript:void(0)" routerLink="/dcplanner">
            <div class="discharge">
              <div class="introduction1">
                <img src="assets/images/discharge.svg" alt="" />
              </div>
              <div class="dp">
                Discharge Planner
              </div>
              <div class="direction">
                <img src="assets/images/direction.svg" alt="" />
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-6">
          <div class="discharge">
            <div class="introduction2">
              <img src="assets/images/general.svg" alt="" />
            </div>
            <div class="dp1">
              General User
            </div>
            <div class="direction">
              <img src="assets/images/direction.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--middle session end-->
<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <img
          class="image footer-image"
          src="/assets/images/footer.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
