<app-header></app-header>
<!-- <div class="container"> -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <img class="image" src="/assets/images/main.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <img class="image" src="/assets/images/who.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
<section class="price">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <img class="image" src="/assets/images/Group 159.svg" alt="" />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <img class="image" src="/assets/images/work.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <img class="image" src="/assets/images/articles.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <img
          class="image footer-image"
          src="/assets/images/footer.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<!-- </div> -->
