.image {
  max-width: 1348px;
  margin-left: -120px;
}

.price {
  margin: 56px 0 68px 162px;
}

.footer {
  background: url("/assets/images/Footer-bg.png") repeat-x;
}

.footer-image {
  height: 292px;
}
