<div class="container">
  <div class="row side-menu">
    <div class="row col-xl-12">
      <div class="">
        <img
          src="assets/images/icon _pie chart.svg"
          alt="dashboard-logo"
          class="-icon-pie-chart"
        />
        <span class="dashboard">
          Dashboard
        </span>
      </div>
      <div class="users-row">
        <img
          src="assets/images/users.svg"
          alt="users-logo"
          class="-icon-users"
        />
        <span class="users">
          Users
        </span>
      </div>
      <div class="inbox-row">
        <img
          src="assets/images/inbox.svg"
          alt="inbox-logo"
          class="-icon-inbox"
        />
        <span class="inbox">
          Inbox
        </span>
      </div>
      <div class="review-row">
        <img
          src="assets/images/reviews.svg"
          alt="reviews-logo"
          class="-icon-code-review"
        />
        <span class="reviews">
          Reviews
        </span>
      </div>
      <div class="notification-row">
        <img
          src="assets/images/notification.svg"
          alt="notifications-logo"
          class="-icon-notification-2-line"
        />
        <span class="notifications">
          Notifications
        </span>
      </div>
      <div class="map-row">
        <img
          src="assets/images/bookslot.svg"
          alt="book-slot-logo"
          class="-icon-map"
        />
        <span class="book-slot">
          Book Slot
        </span>
      </div>
      <div class="building-row">
        <img src="assets/images/care.svg" alt="care-destinations-logo" />
        <span class="care-destinations">
          Care Destinations
        </span>
      </div>
      <div class="logout-row">
        <img
          src="assets/images/logout.svg"
          alt="logout-logo"
          class="-icon-logout"
        />
        <span class="logout">
          Logout
        </span>
      </div>
    </div>
  </div>
</div>
